<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.fxing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"   android:theme="@android:style/Theme.Light">
        <activity
            android:name=".WeatherReporterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
				<action android:name="android.intent.action.VIEW" />
				<data android:scheme="weather" android:host="net.fxing"/>                
            </intent-filter>
        </activity>
        
        <receiver android:name=".service.WeatherServiceReceiver">
            <intent-filter>
                  <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service android:name=".service.WeatherService" />
    </application>
     
	<uses-permission android:name="android.permission.INTERNET" />  
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
</manifest>