<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibookstore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:name="IBookStoreApplication"
         android:theme="@android:style/Theme.Light">
         
        <activity
            android:name=".IBookStoreActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".FindBooksCriteriaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ibookstore.action.FINDBOOKS_CRITERIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BookListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ibookstore.action.BOOKLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BookDetailActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ibookstore.action.BOOKDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.INTERNET" />  
	
</manifest>